* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.inputHeader {
  background-color: blue;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
